// colors
$white: #ffffff;
$dark: #1a1210;
$grey: #2b2a29;
$red: #c21f39;
$blue: #005392;
$lightGrey: #c5c5c5;

// fonts
// $mainFont: "PT Sans", sans-serif;
$mainFont: "Open Sans", sans-serif;
$titleFont: "Lora", serif;
// $titleFont: "Roboto Slab", serif;