<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=dLmJ6POrEb")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=dLmJ6POrEb")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=dLmJ6POrEb")
        link(rel="manifest", href="/manifest.json?v=dLmJ6POrEb")
        link(rel="mask-icon", href="/safari-pinned-tab.svg?v=dLmJ6POrEb", color="#5bbad5")
        link(rel="shortcut icon", href="/favicon.ico?v=dLmJ6POrEb")
        meta(name="theme-color", content="#ffffff")

        link(href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic,cyrillic-ext,latin-ext", rel="stylesheet")
        link(rel="stylesheet", href="styles.css?v=2")

        title TRUEMAN
    body
        header.main-header
            .main-header__border

            .menu-icon: .menu-icon__middle

            .contacts
                p.contacts__phone: a(href="tel:+375296396000") +375 296 396 000
                p.contacts__address Минск, пр. Независимости, 46<br>район пл. Я. Коласа<br>Ежедневно с 9 до 22

            .logo
                p.logo__text Barbershop Trueman
                .logo__image: img(src="img/logo.svg", alt="Trueman Barbershop Logo")

            nav.main-menu
                .main-menu__logo: img(src="img/logo.svg", alt="Trueman Barbershop Logo")
                ul.main-menu__list
                    li: a(href="about.html") О нас
                    li: a(href="index.html#services") Услуги
                    //- li: a(href="#") Магазин
                    //- li: a(href="#") Мастера
                    li: a(href="index.html#contacts") Контакты

            .caption
                .caption__content
                    //- p.caption__subtitle Барбершоп<span class="but-desktop"><br></span> по-настоящему
                    p.caption__subtitle Барбершоп по&#8209;настоящему
                    h1.caption__title Стрижки<br>&<br>Бритьё
                    a(href="#").button.ms_booking Запись онлайн

            .main-header__deco: img(src="img/deco.svg", alt="")

        section.about
            header.about__header
                p.about__subtitle О барбершопе
                h2.about__title Добро пожаловать в&nbsp;Trueman

            .about__content
                .about__image: img(src="img/bshop.jpg", alt="Барбершоп Труман интерьер")
                p.about__description TRUEMAN — барбершоп для истинных мужчин. В барбершопе TRUEMAN нет пафоса. Здесь ценят простые вещи. Порядочность. Преданность. Самоиронию. А в своих гостях мы видим прежде всего личность.<br><br><em>TRUEMAN</em> — барбершоп по&#8209;настоящему.

                .about__more
                    a(href="about.html").button.button--simple Подробнее

        section.section.section--services#services
            header.section__header
                h2 Мы предлагаем

            .section__content.section__content--services
                article.service
                    header.service__header
                        .service__icon
                            img(src="./img/services/scisors-white.svg", alt="").service__icon-white
                            img(src="./img/services/scisors.svg", alt="").service__icon-black
                        h3.service__title Стрижка
                        p.service__subtitle Мужская и Детская
                        .service__more: a(href="haircut.html") Подробнее

                    .service__cover
                    .service__image: img(src="./img/services/haircut.jpg", alt="Мужская стрижка")
                
                article.service
                    header.service__header
                        .service__icon
                            img(src="./img/services/razor-white.svg", alt="").service__icon-white
                            img(src="./img/services/razor.svg", alt="").service__icon-black
                        h3.service__title Бритьё
                        p.service__subtitle Классическое и Королевское
                        .service__more: a(href="royal.html") Подробнее

                    .service__cover
                    .service__image: img(src="./img/services/shave.jpg", alt="Бритьё бороды")

                article.service
                    header.service__header
                        .service__icon
                            img(src="./img/services/lotion-white.svg", alt="").service__icon-white
                            img(src="./img/services/lotion.svg", alt="").service__icon-black
                        h3.service__title Магазин
                        p.service__subtitle Уход и Аксессуары
                        //- .service__more: a(href="#") Подробнее

                    .service__cover
                    .service__image: img(src="./img/services/shop.jpg", alt="Магазин аксессуаров барбершопа")

        section.section.section--prices
            header.section__header
                h2 Прайс-лист

            .section__content.section__content--prices
                .prices-wrapper
                    .price-inner__column
                        table.prices-table
                            caption Основные услуги
                            tr
                                td Cтрижка мужская
                                td 40 <span>p.</span>
                            tr
                                td Стрижка машинкой <br><small>(одна насадка)</small>
                                td 30 <span>p.</span>
                            tr
                                td Детская стрижка <br><small>(от 5-ти лет)</small>
                                td 25 <span>p.</span>
                            tr
                                td Стрижка бороды
                                td 25 <span>p.</span>
                            tr
                                td Классическое бритьё
                                td 35 <span>p.</span>
                            tr
                                td Королевское бритьё <br><small>(c косметикой Truefitt & Hill)</small>
                                td 50 <span>p.</span>

                    .price-inner__column.price-inner__column--right
                        table.prices-table
                            caption Комплексные услуги
                            tr
                                td Друг + друг
                                td 70 <span>p.</span>
                            tr
                                td Отец и сын
                                td 60 <span>p.</span>
                            tr
                                td Стрижка + Бритьё
                                td 70 <span>p.</span>

                        table.prices-table
                            caption Дополнительные услуги
                            tr
                                td Усы
                                td 20 <span>p.</span>
                            tr
                                td Бритьё головы
                                td 35 <span>p.</span>
                            tr
                                td Укладка
                                td 10 <span>p.</span>
                            tr
                                td Камуфляж седины
                                td 25 <span>p.</span>

                    .price-logo
                        p.price-logo__text Barbershop Trueman
                        .price-logo__image: img(src="./img/logo-black.svg", alt="Trueman Barbershop Logo")

                    a(href="price.html").button Все услуги

        //- section.section.section--team
            header.section__header
                h2 Мастера

            .section__content.section__content--team
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Олег
                        
                    .member__cover
                    .member__photo: img(src="./img/barbers/barber1.jpg", alt="")
                    
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Дмитрий

                    .member__cover
                    .member__photo: img(src="./img/barbers/barber2.jpg", alt="")
                    
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Юрий

                    .member__cover
                    .member__photo: img(src="./img/barbers/barber3.jpg", alt="")
                    
                article.member.member--join
                    header.member__header
                        h3.member__title Присоединяйся<br>к нашей команде

                    .member__cover.member__cover--join
                    .member__photo: img(src="./img/barbers/join.jpg", alt="")

        section.section.section--partners
            header.section__header
                    h2 Партнёры
                    
            .section__content.section__content--partners
                .partner: img(src="./img/partners/oldboy.png", alt="Oldboy logo")
                .partner: img(src="./img/partners/yacht.png", alt="Yacht Event logo")
                .partner: img(src="./img/partners/american-crew.png", alt="American Crew logo")
                | <br>
                .partner: img(src="./img/partners/truefitt-and-hill.png", alt="Truefitt & Hill logo")
                .partner: img(src="./img/partners/proraso.png", alt="Proraso logo")
                .partner: img(src="./img/partners/g-tonic.png", alt="Gentlemens tonic logo")

        section.location#contacts
            .map-label
                header.map-label__header
                    p.map-label__city Минск
                    h2.map-label__title Барбершоп Trueman
                    p.map-label__address пр. Независимости 46
                    .map-label__logo: img(src="./img/logo-black.svg", alt="Trueman Barbershop logo")
                .map-label__photo: img(src="./img/city.jpg", alt="Trueman Barbershop photo")
            #map.location__map

        footer.site-footer
            .site-footer__content
                .footer-logo
                    p.footer-logo__text Barbershop Trueman
                    .footer-logo__image: img(src="./img/logo.svg", alt="Trueman Barbershop Logo")

                .footer-block
                    .footer-info
                        h3.footer-info__title Контакты
                        a(href="tel:+375296396000").footer-info__tel +375 296 396 000
                        p.footer-info__text г. Минск, пр. Независимости, 46<br>ООО  «Труман групп»
                        
                    .footer-info
                        h3.footer-info__title Часы работы
                        p.footer-info__text Ежедневно с 9 до 22
                        

                .footer-block.footer-block--right
                    .social
                        h3.social__title Мы в соцсетях
                        .social__content
                            a(href="https://www.instagram.com/trueman.barber/").social-icon.icon-instagram Instagram
                            a(href="#").social-icon.icon-facebook Facebook
                            a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

                    .copyrights
                        p © Барбершоп Trueman 
                        p Сделано студией <a href="http://agonstudio.ru/">Агонь</a>

        script(type="text/javascript", src="//w79413.yclients.com/widgetJS", charset="UTF-8")
        script(src="./map.js")
        script(src="./app.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClofSbCu6EYSgaWdfCK5G1i_eUXgL4RCk&callback=initMap")