<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        //- link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,600&amp;subset=cyrillic", rel="stylesheet")
        //- link(href="https://fonts.googleapis.com/css?family=Lora|PT+Sans&amp;subset=cyrillic" rel="stylesheet")
        //- link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans&amp;subset=cyrillic,cyrillic-ext,latin-ext", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,600&amp;subset=cyrillic,cyrillic-ext,latin-ext", rel="stylesheet")
        link(rel="stylesheet", href="styles.css")

        title Trueman
    body
        header.main-header
            .menu-icon: .menu-icon__middle

            .contacts
                p.contacts__phone +375 29 166 02 50
                p.contacts__address Минск, пр. Независимости, 46 <br>район пл. Я. Коласа <br>Ежедневно с 9 до 22

            .logo
                p.logo__text Barbershop Trueman
                .logo__image: img(src="img/logo.svg", alt="Trueman Barbershop Logo")

            nav.main-menu: ul.main-menu__list
                li: a(href="#") О нас
                li: a(href="#") Услуги
                li: a(href="#") Магазин
                li: a(href="#") Мастера
                li: a(href="#") Контакты

            .caption
                .caption__content
                    p.caption__subtitle Барбершоп<br>по-настоящему
                    h1.caption__title Стрижки<br>&<br>Бритьё
                    a(href="#").button Запись онлайн

            .main-header__deco: img(src="img/deco.svg", alt="")

        section.about
            header.about__header
                p.about__subtitle О барбершопе
                h2.about__title Добро пожаловать в&nbsp;Trueman

            p.about__description TRUEMAN — барбершоп для истинных мужчин. В барбершопе TRUEMAN нет пафоса. Здесь ценят простые вещи. Порядочность. Преданность. Самоиронию. А в своих гостях мы видим прежде всего личность.<br><br><em>TRUEMAN</em> — барбершоп по-настоящему.

            .about__more
                a(href="#").button.button--simple Подробнее

            .about__deco: img(src="", alt="Barber at work")

        section.section.section--services
            header.section__header
                h2 Мы предлагаем

            .section__content
                article.service
                    header.service__header
                        .service__icon: img(src="", alt="")
                        h3.service__title Стрижка
                        p.service__subtitle Мужская и Детская
                        a(href="#").service__more Подробнее

                    .service__cover
                    .service__image: img(src="", alt="")
                
                article.service
                    header.service__header
                        .service__icon: img(src="", alt="")
                        h3.service__title Бритьё
                        p.service__subtitle Классическое и Королевское
                        a(href="#").service__more Подробнее

                    .service__cover
                    .service__image: img(src="", alt="")

                article.service
                    header.service__header
                        .service__icon: img(src="", alt="")
                        h3.service__title Магазин
                        p.service__subtitle Уход и Аксессуары
                        a(href="#").service__more Подробнее

                    .service__cover
                    .service__image: img(src="", alt="")

        section.section.section--prices
            header.section__header
                h2 Прейскурант

            .section__content.section__content--prices
                table.prices-table
                    tr
                        td Мужская стрижка
                        td 1400
                    tr
                        td Стрижка под машинку <br><small>(одна насадка)</small>
                        td 600
                    tr
                        td Стрижка Fade <br><small>(несколько насадок)</small>
                        td 1000
                    tr
                        td Моделирование бороды
                        td 800
                    tr
                        td Ремонт бороды
                        td 600

                table.prices-table
                    caption Комплексные услуги
                    tr
                        td Стрижка мужская + Королевское бритьё
                        td 2000
                    tr
                        td Стрижка мужская + Ремонт бороды
                        td 1700
                    tr
                        td Стрижка мужская + Моделирование бороды
                        td 2000

                table.prices-table
                    caption Спецпредложения
                    tr
                        td Друг + Друг
                        td 2300
                    tr
                        td Отец + Сын
                        td 2000

                .price-logo
                    p.price-logo__text Barbershop Trueman
                    .price-logo__image: img(src="./img/logo-black.svg", alt="Trueman Barbershop Logo")

                a(href="#").button Все услуги

        section.section.section--team
            header.section__header
                h2 Мастера

            .section__content
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Олег
                        
                    .member__photo: img(src="", alt="")
                    
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Дмитрий

                    .member__photo: img(src="", alt="")
                    
                article.member
                    header.member__header
                        p.member__position Барбер
                        h3.member__name Юрий

                    .member__photo: img(src="", alt="")
                    
                article.member.member--join
                    header.member__header
                        h3.member__title Присоединяйся<br>к команде

                    .member__photo: img(src="", alt="")

        section.section.section--partners
            header.section__header
                    h2 Партнёры
                    
            .section__content.section__content--partners
                .partner: img(src="", alt="Oldboy logo")
                .partner: img(src="", alt="American Crew logo")
                .partner: img(src="", alt="Yacht Event logo")
                .partner: img(src="", alt="Truefitt & Hill logo")
                .partner: img(src="", alt="Proraso logo")

        section.location
            .map-label
                header.map-label__header
                    h2.map-label__title Барбершоп Trueman
                    p.map-label__address пр. Независимости 46
                    .map-label__logo: img(src="", alt="Trueman Barbershop logo")
                .map-label__photo: img(src="", alt="Trueman Barbershop photo")
            #map.location__map

        footer.site-footer
            .logo.logo--footer
                p.logo__text Barbershop Trueman
                .logo__image: img(src="", alt="Trueman Barbershop Logo")

            .footer-block
                .footer-info
                    h3.footer-info__title 
                    p.footer-info__text
                    
                .footer-info
                    h3.footer-info__title 
                    p.footer-info__text
                    

            .footer-block.footer-block--right
                .social
                    h3.social__title Мы в соцсетях
                    .social__content
                        a(href="").social-icon Instagram
                        a(href="").social-icon Facebook
                        a(href="").social-icon VKontakte

                .copyrights
                    p © Барбершоп Trueman 
                    p Сделано студией Агонь