<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=dLmJ6POrEb")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=dLmJ6POrEb")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=dLmJ6POrEb")
        link(rel="manifest", href="/manifest.json?v=dLmJ6POrEb")
        link(rel="mask-icon", href="/safari-pinned-tab.svg?v=dLmJ6POrEb", color="#5bbad5")
        link(rel="shortcut icon", href="/favicon.ico?v=dLmJ6POrEb")
        meta(name="theme-color", content="#ffffff")

        link(href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=cyrillic,cyrillic-ext", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic,cyrillic-ext,latin-ext", rel="stylesheet")
        link(rel="stylesheet", href="styles.css?v=3")

        title TRUEMAN — Королевское бритьё
    body
        header.inner-header
            .inner-header__border

            .menu-icon: .menu-icon__middle

            .contacts.contacts--inner
                p.contacts__phone: a(href="tel:+375296396000") +375 296 396 000
                p.contacts__address Минск, пр. Независимости, 46<br>район пл. Я. Коласа<br>Ежедневно с 10 до 22

                .contacts__checkin
                    a(href="#").button.button--white.ms_booking Запись онлайн

            .logo.logo--inner
                p.logo__text Barbershop Trueman
                a(href="index.html").logo__image: img(src="img/logo.svg", alt="Trueman Barbershop Logo")

            nav.main-menu
                .main-menu__logo: img(src="img/logo.svg", alt="Trueman Barbershop Logo")
                ul.main-menu__list
                    li: a(href="about.html") О нас
                    li: a(href="index.html#services") Услуги
                    //- li: a(href="#") Магазин
                    //- li: a(href="#") Мастера
                    li: a(href="index.html#contacts") Контакты

        section.about.about--inner
            header.about__header
                p.about__subtitle Советы от TRUEMAN
                h1.about__title Королевское бритьё

            .about__content
                .about__image.about__image--inner: img(src="img/royal.jpg", alt="Барбершоп Труман интерьер")
                
                p.about__description Термин <em>«КОРОЛЕВСКОЕ БРИТЬЁ»</em> непосредственно связан с именем Уильяма Труфита, открывшего свою первую цирюльню в 1805 году в Лондоне и, впоследствии, ставшего основателем марки Truefitt & Hill. Заведение заслужило высочайшую репутацию у английской аристократии и получило признание монархов Великобритании – именно продукция Труфита получила эксклюзивные привилегии королевского двора. Тогда же были заложены основы этой статусной процедуры.

                p.about__description Что же необходимо для того, чтобы бритье стало «королевским»?

                p.about__description Во-первых, это правильная опасная бритва и барбер, умеющий с ней обращаться. Наши опытные мастера прошли специальное обучение и повышение квалификации по стандартам и правилам Truefitt & Hill.

                p.about__description Во-вторых, мужская косметика премиум-класса от Truefitt & Hill. Это по-настоящему элитные средства для бритья и ухода за кожей. Масла, мыло и бальзамы высочайшего качества, на основе проверенных за два века рецептов и с применением самых современных технологий.

                p.about__description Королевское бритье - это настоящий ритуал, состоящий из нескольких этапов.

        section.shaving
            header.shaving__header
                h2.shaving__title 1. Нанесение масла

            .shaving__image
                img(src="img/royal/1.jpg", alt="")
            
            .shaving__content
                p В самом начале барбер наносит на кожу подготавливающее к бритью масло Truefitt & Hill, которое cмягчает волосы, что обеспечивает комфортное и безопасное бритьё, а впоследствии предотвращает появление вросших волос.
                p Остающася на коже тонкая пленка масла обладает гидрофильными свойствами и способствует плавному скольжению лезвия опасной бритвы.
                p Кроме того, активные компоненты масла (среди которых масла авокадо, семян сафлора, кокоса и цитрусовых, экстракты огурца и алоэ) улучшают состояние кожи: выравнивают текстуру и уменьшают чувстительность за счет усиленного увлажнения клеток эпидермиса. Исчезает ощущение стянутости сухой кожи. Масло Truefitt & Hill обладает обезораживающими и антиокислительными свойствами.

        section.shaving
            header.shaving__header
                h2.shaving__title 2. Распаривание кожи полотенцем
            
            .shaving__image
                img(src="img/royal/2.jpg", alt="")

            .shaving__content
                p В специальном паровом шкафу ждут своего времени разогретые махровые полотенца. Идеально подобранная температура и влажность не нанесут вашей коже ожогов или дискомфорта, но подготовят бороду к бритью.
                p Кожа очищается, раскрываются поры. Приливающая кровь приподнимает волоски, которые под горячим компрессом становятся мягче и прямее, благодаря чему последующее бритье будет чище и безопаснее. Распаривание значительно снижает уровень раздражения и количество микропорезов.
                p В работе используется два полотенца: спустя некоторое время барбер делает смену остывающего компресса на новый.

        section.shaving
            header.shaving__header
                h2.shaving__title 3. Нанесение пены

            .shaving__image
                img(src="img/royal/3.jpg", alt="")
            
            .shaving__content
                p На следующем этапе мастер использует свежеприготовленную пену, получаемую из специального мыла на основе натуральных компонентов высочайшего качества.
                p Для взбивания пены и её нанесения на лицо применяется особая чаша и помазок из уникальной шерсти барсука класса Silvertip. Её нежнейшие волоски, собираемые с небольшого участка в области шеи животного, отлично удерживают влагу и создают пену необходимой консистенции.
                p Барбер покрывает обриваемые участки кожи теплой пеной.

        section.shaving
            header.shaving__header
                h2.shaving__title 4. Бритьё опасной бритвой

            .shaving__image
                img(src="img/royal/4.jpg", alt="")
            
            .shaving__content
                p Теперь можно приступать к самой ответственной части всей процедуры. Бритье опасной бритвой требует немалого опыта и мы гордимся, что наши специалисты достигли в этом деле настоящего мастерства. Барбер натягивает кожу там, где это необходимо и именно с тем усилием, которое требуется на каждом участке лица. Максимально острое лезвие бритвы, подчиняясь ювелирным движениям руки мастера, под необходимым углом скользит по коже, гладко и начисто срезая волоски.
                p Все инструменты обязательно проходят тщательнейшую обработку и обеззараживание, а сами лезвия - одноразовые.

        section.shaving
            header.shaving__header
                h2.shaving__title 5. Холодный компресс

            .shaving__image
                img(src="img/royal/5.jpg", alt="")
            
            .shaving__content
                p После бритья кожу следует правильно успокоить. Для этого барбер накладывает на лицо холодный компресс, который стягивает поры и снимает раздражение. Спустя некоторое время мастер снимает охлажденное полотенце и убирает им остатки пены.

        section.shaving
            header.shaving__header
                h2.shaving__title 6. Нанесение средства после бритья

            .shaving__image
                img(src="img/royal/6.jpg", alt="")
            
            .shaving__content
                p После снятия охлаждающего компресса, барбер легкими, массириющими движениям и наносит на обритые участки специальный бальзам от Truefitt & Hill на основе лечебного экстракта алое и аллантоина, повышающего регенерацию клеток кожи.

        section.shaving
            header.shaving__header
                h2.shaving__title 7. Нанесение одеколона

            .shaving__image
                img(src="img/royal/7.jpg", alt="")
            
            .shaving__content
                p Финальным штрихом в процедуре королевского бритья является одеколон. И он заслуживает отдельного упоминания. Эксклюзивные ароматы от Truefitt & Hill - яркий пример элегантной мужественности. Идеально подобранные ноты и высочайшее качество компонентов сделают одеколоны этого британского бренда настоящим украшением вашего обновленного образа.

        footer.site-footer
            .site-footer__content
                .footer-logo
                    p.footer-logo__text Barbershop Trueman
                    .footer-logo__image: img(src="./img/logo.svg", alt="Trueman Barbershop Logo")

                .footer-block
                    .footer-info
                        h3.footer-info__title Контакты
                        a(href="tel:+375296396000").footer-info__tel +375 296 396 000
                        p.footer-info__text г. Минск, пр. Независимости, 46<br>ООО  «Труман групп»
                        
                    .footer-info
                        h3.footer-info__title Часы работы
                        p.footer-info__text Ежедневно с 10 до 22
                        

                .footer-block.footer-block--right
                    .social
                        h3.social__title Мы в соцсетях
                        .social__content
                            a(href="https://www.instagram.com/truemanbarbershop/").social-icon.icon-instagram Instagram
                            a(href="https://www.facebook.com/truemanbarbershop/").social-icon.icon-facebook Facebook
                            a(href="https://vk.com/truemanbarbershop").social-icon.icon-vkontakte Vkontakte

                    .copyrights
                        p © Барбершоп Trueman 
                        p Сделано студией <a href="http://agonstudio.ru/">Агонь</a>

        script(type="text/javascript", src="//w79413.yclients.com/widgetJS", charset="UTF-8")
        script(src="./app.js")