.about {
    // box model
    padding: 30px;
    padding-bottom: 80px;
    padding-top: 60px;

    // visual
    background-image: url("./img/about-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    // background-size: 200%;
    
    @include atTabletsLandscape {
        // box model
        padding: 40px;
        padding-top: 60px;
        padding-bottom: 100px;
        
        // visual
        background-image: url("./img/about-bg-l.jpg");
    }

    @include atDesktop {
        // box model
        padding: 60px;

        // visual
        background-size: cover;
    }

    &--inner {
        // visual

        @include atDesktop {
            // visual
            background-size: contain;
        }
    }

    &__header {
        // box model
        margin-bottom: 20px;

        @include atDesktop {
            // box model
            margin-bottom: 20px;
        }
        
        @include atDesktopLarge {
            // box model
            width: 1280px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0;
        // padding-bottom: 10px;
        padding-bottom: 5px;

        // typography
        // font-family: $titleFont;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__content {
        @include atDesktopLarge {
            // box model
            width: 1280px;
            margin: 0 auto;
        }

        &::after {
            content: "";

            // box model
            display: table;
            clear: both;
            width: 100%;
        }
    }

    &__image {
        // positioning
        position: relative;

        // box model
        height: calc(100vw - 60px);

        @include atTabletsPortrait {
            // box model
            height: 300px;
            width: 300px;
            float: right;
            margin-bottom: 40px;
            margin-left: 40px;
        }
        
        @include atDesktop {
            // box model
            height: 400px;
            width: 400px;
            margin-top: -50px;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            bottom: 2px;
            left: 2px;
            right: 2px;
            top: 2px;

            // visual
            border: 2px solid $white;
            // border: 18px solid transparent;
            // border-image: url("./img/white-inv-border.png") 36;
        }

        &--inner {
            @include atTabletsLandscape {
                // box model
                width: 42vw;
                height: 42vw;
                max-width: 600px;
                max-height: 600px;
            }
        }
        
        img {
            // box model
            width: 100%;
        }
    }

    &__description {
        // box model
        // padding-left: 10px;
        padding-bottom: 20px;

        // typography
        color: $grey;
        font-size: 1rem;
        // font-weight: 600;
        line-height: 1.75;

        // visual
        // border-left: 4px double $red;

        @include atTabletsLandscape {
            // box model
            // width: 400px;
        }

        @include atDesktop {
            // box model
            width: 600px;

            // typography
            // font-size: 1.125rem;
        }
    }

    &__more {
        // box model
        padding: 20px 0;

        // typography
        text-align: center;

        @include atTabletsLandscape {
            // typography
            text-align: left;
        }
    }

    &__deco {
        // box model
        display: none;

        img {
            
        }
    }

    &__partners {
        // box model
        width: 100%;
        padding-top: 40px;
        
        // typography
        text-align: center;
    }
}