.about {
    // box model
    padding: 30px;
    padding-bottom: 80px;
    padding-top: 40px;

    // visual
    background-image: url("./img/about-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    // background-size: 200%;

    &__header {
        // box model
        margin-bottom: 20px;
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 10px;

        // typography
        // font-family: $titleFont;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__description {
        // box model
        // padding-left: 10px;

        // typography
        color: #676767;
        font-size: 1rem;
        // font-weight: 600;
        line-height: 1.5;

        // visual
        // border-left: 4px double $red;
    }

    &__more {
        // box model
        padding: 20px 0;

        // typography
        text-align: center;
    }

    &__deco {
        // box model
        display: none;

        img {
            
        }
    }
}