.button {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    padding: 17px 32px;

    // typography
    color: $white;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $grey;
    border: 2px solid $grey;
    transition: all 0.3s ease-out;

    &:hover {
        // typography
        color: $grey;
        text-decoration: none;

        // visual
        background-color: transparent;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 0;

        // box model
        height: calc(100%);
        width: calc(100%);

        // visual
        border: 1px solid $white;
    }

    &--simple {
        // box model
        padding: 17px 50px;

        // typography
        color: $grey;

        // visual
        background-color: transparent;
        background-color: rgba($white, 0.4);

        &:hover {
            // typography
            color: $white;

            // visual
            background-color: $grey;
        }
    }

    &--white {
        // typography
        color: $grey;

        // visual
        border-color: $white;
        border-width: 1px;
        background-color: $white;
        transition: all 0.3s ease-out;

        &::before {
            // visual
            border: 2px solid $grey;
        }

        &:hover {
            // typography
            color: $white;
        }
    }
}