.caption {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    margin: 0 auto;

    // visual
    border: 18px solid transparent;
    border-image: url("./img/caption-border.png") 36;

    @include atTabletsPortrait {
        // box model
        width: 320px;
        margin: 0;
    }

    @include atDesktop {
        // positioning
        position: absolute;
        bottom: 60px;
        left: 60px;

        // box model
        width: 360px;
    }
    
    &__content {
        // box model
        padding: 20px 0;

        // typography
        text-align: center;

        // visual
        background-color: $white;
    }

    &__title {
        // box model
        margin: 0;
        padding: 20px 0;

        // typography
        font-family: $titleFont;
        font-size: 1.5rem;
        // line-height: 1.2;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            font-size: 2rem;
        }
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
    }
}