.contacts {
    // typography
    color: $white;

    @include atTabletsPortrait {
        // positioning
        position: absolute;
        bottom: auto;
        right: 70px;
        top: 25px;
    }

    @include atTabletsLandscape {
        // positioning
        right: 40px;
    }

    @include atDesktop {
        // positioning
        right: 50px;
        top: 40px;
    }

    &--inner {
        @include atTabletsPortrait {
            // positioning
            top: 30px;
        }

        @include atDesktopLarge {
            // positioning
            top: 35px;
        }
    }

    &__phone {
        // box model
        margin: 0;
        margin-left: -0.25em;
        padding: 0;
        padding-top: 3px;

        // typography
        text-align: center;

        // @include atTabletsLandscape {
        @include atTabletsPortrait {
            // box model
            margin: 0;
            padding: 0;

            // typography
            text-align: right;
        }

        @include atDesktop {
            // typography
            // text-align: left;
        }
        
        a {
            // typography
            color: $white;
            font-family: $titleFont;
            font-size: 1.25rem;
            // font-weight: 700;
            text-align: center;
            text-decoration: none;

            @include atDesktop {
                // typography
                font-size: 1.35rem;
            }

            @include atDesktopLarge {
                // typography
                font-size: 1.5rem;
            }
        }
    }

    &__address {
        // box model
        display: none;

        // @include atTabletsLandscape {
        @include atTabletsPortrait {
            // box model
            display: block;
            margin: 0;
            margin-top: 5px;
            padding: 0;

            // typography
            font-family: $titleFont;
            font-size: 0.875rem;
            line-height: 1.5;
            text-align: right;
        }

        @include atDesktop {
            // typography
            // text-align: left;
            font-size: 0.875rem;
            line-height: 1.5;
        }

        @include atDesktopLarge {
            // typography
            font-size: 1rem;
        }
    }

    &__checkin {
        // positioning
        position: relative;
        z-index: 5;

        // box model
        padding-top: 25px;

        // typography
        text-align: right;
    }
}