.copyrights {
    @include atTabletsLandscape {
        // positioning
        position: absolute;
        bottom: 0;
    }

    p {
        // box model
        margin: 0;
        padding: 0;

        // typography
        color: $white;
        font-size: 0.75rem;
        line-height: 1.5;

        a {
            // typography
            color: $white;
        }
    }
}