.footer-logo {
    // positioning
    position: absolute;
    bottom: 0;
    right: 0;

    @include atTabletsLandscape {
        // positioning
        position: relative;
        bottom: auto;
        right: auto;

        // box model
        display: inline-block;
        vertical-align: top;
    }

    &__text {
        // box model
        display: none;
    }

    &__image {
        // box model
        width: 100px;

        @include atTabletsLandscape {
            // box model
            width: 220px;
        }

        img {
            // box model
            width: 100%;
        }
    }
}