.inner-header {
    // positioning
    position: relative;

    // box model
    padding: 30px;

    // visual
    background-color: $dark;
    background-image: url("./img/about-header-bg.jpg");
    background-size: cover;
    background-position: center center;
}