.location {
    // positioning
    position: relative;
    
    &__map {
        // box model
        height: 400px;

        @include atTabletsPortrait {
            // box model
            height: 500px;
        }
    }
}