.logo {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    width: 160px;
    margin: 40px auto;
    margin-bottom: 30px;
    
    &__text {
        // box model
        display: none;
    }

    &__image {

        img {

        }
    }

    &--footer {
        
    }
}