.logo {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    width: 160px;
    margin: 30px auto;

    @include atTabletsPortrait {
        // box model
        width: 320px;
        margin: 0;
        margin-bottom: 30px;
        padding: 0 80px;
    }
    
    &__text {
        // box model
        display: none;
    }

    &__image {
        // box model
        width: 100%;

        img {
            // box model
            width: 100%;
        }
    }
}