.main-menu {
    // positioning
    position: absolute;
    position: fixed;
    bottom: 0;
    left: -100%;
    top: 0;
    z-index: 4;

    // box model
    width: 100%;
    padding: 30px;

    // visual
    background-color: $dark;
    // opacity: 0;
    transition: all 0.3s ease-out;
    visibility: hidden;

    @include atTabletsPortrait {
        // box model
        width: 400px;
    }

    &--shown {
        // positioning
        left: 0;

        // visual
        opacity: 0.99;
        visibility: visible;
    }

    &__logo {
        // box model
        width: 120px;
        margin: 30px auto;
    }
    
    &__list {
        // box model
        margin: 0;
        padding: 20px 0;
        
        // visual
        border: 18px solid transparent;
        border-image: url("./img/white-border.png") 36;
        list-style: none;

        li {
            // box model
            margin: 0;
            padding: 0;
        }

        a {
            // box model
            display: block;
            padding: 10px 0;

            // typography
            color: $white;
            font-family: $titleFont;
            font-size: 1.25rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}