.main-header {
    // box model
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 60px;

    // positioning
    position: relative;

    // visual
    background-color: #1a1210;

    @include atTabletsPortrait {
        // box model
        padding-bottom: 40px;

        // visual
        background-image: url("./img/header-bg.jpg");
        background-repeat: no-repeat;
        // background-position: right center;
        background-position: center center;
        background-size: cover;
    }

    &__deco {
        // positioning
        position: absolute;
        left: 0;
        top: 80px;
        z-index: 0;

        // box model
        width: 120px;

        img {

        }
    }
}