.main-menu {
    // positioning
    position: fixed;
    bottom: 0;
    left: -100%;
    top: 0;
    z-index: 4;

    // box model
    width: 100%;
    padding: 30px;

    // visual
    background-color: $dark;
    // opacity: 0;
    transition: all 0.3s ease-out;
    visibility: hidden;

    @include atTabletsPortrait {
        // box model
        width: 400px;
    }

    @include atDesktop {
        // positioning
        position: absolute;
        bottom: auto;
        left: 250px;
        right: auto;
        top: 35px;
        z-index: 4;

        // box model
        width: auto;
        margin: 0;
        padding: 0;

        // visual
        background-color: transparent;
        visibility: visible;
    }

    &--shown {
        // positioning
        left: 0;

        // visual
        opacity: 0.99;
        visibility: visible;
    }

    &__logo {
        // box model
        width: 120px;
        margin: 30px auto;

        @include atDesktop {
            // box model
            display: none;
        }
    }
    
    &__list {
        // box model
        margin: 0;
        padding: 20px 0;
        
        // visual
        border: 18px solid transparent;
        border-image: url("./img/white-border.png") 36;
        list-style: none;

        @include atDesktop {
            // box model
            padding: 0;

            // visual
            border: none;
            border-image: none;
        }

        li {
            // box model
            margin: 0;
            padding: 0;

            @include atDesktop {
                // box model
                display: inline-block;
                padding: 0 10px;
            }
        }

        a {
            // box model
            display: block;
            padding: 10px 0;

            // typography
            color: $white;
            font-family: $titleFont;
            font-size: 1.25rem;
            // font-weight: 700;
            letter-spacing: 0.5px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            // visual
            transition: all 0.3s ease-out;

            @include atDesktop {
                // box model
                padding: 5px;

                // typography
                font-size: 1rem;
            }

            @include atDesktopLarge {
                // box model
                padding: 7px;

                // typography
                font-size: 1.125rem;
            }

            &:hover {
                // typography
                color: $red;
            }
        }
    }
}