.map-label {
    // box model
    display: none;
    
    // visual
    background-color: $white;
    overflow: hidden;
    box-shadow: 0 0 14px rgba($grey, 0.5);
    
    @include atTabletsLandscape {
        // positioning
        position: absolute;
        z-index: 1;
        top: 100px;
        left: 50px;

        // box model
        display: block;
        height: 300px;
        width: 300px;
    }

    @include atDesktop {
        // positioning
        left: 60px;
        
        // box model
        height: 400px;
        width: 400px;
    }

    &__header {
        // box model
        padding: 15px;
        padding-top: 215px;

        @include atDesktop {
            // box model
            padding: 20px;
            padding-top: 285px;
            padding-top: 290px;
        }
    }

    &__city {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 7px;

        // typography
        font-family: $titleFont;
        font-size: 1.25rem;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            font-size: 1.75rem;
            letter-spacing: 2px;
            font-weight: 700;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 5px;

        // typography
        font-family: $titleFont;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;

        @include atDesktop {
            // typography
            font-size: 1.25rem;
        }
    }

    &__address {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-family: $titleFont;
        font-size: 0.8rem;

        @include atDesktop {
            // box model
            font-size: 1rem;
        }
    }

    &__logo {
        // positioning
        position: absolute;
        bottom: 15px;
        right: 25px;

        // box model
        height: 70px;

        @include atDesktop {
            // positioning
            bottom: 20px;

            // box model
            height: 90px;
        }

        img {
            // box model
            height: 100%;
        }
    }

    &__photo {
        // positioning
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        // box model
        width: 100%;

        img {
            // box model
            width: 100%;
        }
    }
}