.menu-icon {
    // positioning
    position: fixed;
    right: 15px;
    // left: 15px;
    top: 25px;
    z-index: 5;

    // box model
    height: 40px;
    width: 40px;

    // visual
    background-color: rgba($grey, 0.5);
    border-radius: 50%;
    border: 1px solid transparent;

    @include atTabletsLandscape {
        // positioning
        right: 15px;
        top: 15px;

        // visual
        background-color: $white;
        box-shadow: 0 0 0 2px rgba($grey, 0.5);
    }

    @include atDesktop {
        // box model
        display: none;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 5px;
        top: 25px;

        transform-origin: 0 50%;

        // box model
        display: block;
        height: 3px;
        width: 28px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;

        @include atTabletsLandscape {
            // visual
            background-color: $grey;
        }
    }

    &__middle {
        // positioning
        position: absolute;
        left: 5px;
        top: 18px;

        // box model
        display: block;
        height: 3px;
        width: 28px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;

        @include atTabletsLandscape {
            // visual
            background-color: $grey;
        }
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        left: 5px;
        top: 11px;

        transform-origin: 0 50%;

        // box model
        display: block;
        height: 3px;
        width: 28px;

        // visual
        background-color: $white;
        transition: all 0.3s ease-out;

        @include atTabletsLandscape {
            // visual
            background-color: $grey;
        }
    }

    &--close-x {
        // visual
        background-color: transparent;
        border: 1px solid rgba($white, 0.2);

        @include atTabletsLandscape {
            // visual
            background-color: $white;
        }

        &::before {
            // positioning
            left: 9px;
            top: 28px;
            transform: rotate(-45deg);

            // visual
            background-color: $red;
        }

        .menu-icon__middle {
            // visual
            opacity: 0;
        }

        &::after {
            // positioning
            left: 9px;
            top: 8px;
            transform: rotate(45deg);

            // visual
            background-color: $red;
        }
    }
}