.partner {
    // box model
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    margin: 15px 10px;
    // border: 1px solid red;

    // visual
    opacity: 0.34;

    @include atTabletsLandscape {
        // box model
        height: 100px;
    }

    @include atDesktop {
        // box model
        height: 120px;
        margin: 15px 20px;
    }

    img {
        // box model
        height: 100%;
    }
}