.partner {
    // box model
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    margin: 15px 10px;
    // border: 1px solid red;

    // visual
    opacity: 0.27;

    img {
        // box model
        height: 100%;
    }
}