.price-inner {
    // positioning
    position: relative;

    @include atTabletsPortrait {
        // box model
        padding: 40px 20px;

        // visual
        border: 18px solid transparent;
        border-image: url("./img/light-grey-border.png") 36;
    }

    @include atDesktop {
        // box model
        padding: 40px;
    }

    @include atDesktopLarge {
        // box model
        width: 1280px;
        margin: 0 auto;
    }

    &__column {
        // positioning
        position: relative;
        z-index: 2;
        
        @include atTabletsLandscape {
            // box model
            width: 49%;
            display: inline-block;
            vertical-align: top;
            padding-right: 20px;
        }

        @include atDesktop {
            // box model
            padding-right: 30px;
        }

        &--right {
            @include atTabletsLandscape {
                // box model
                padding-left: 20px;
                padding-right: 0;
            }

            @include atDesktop {
                // box model
                padding-left: 30px;
            }
        }
    }

    &__booking {
        // box model
        padding-top: 40px;

        // typography
        text-align: center;
    }

    &__deco {
        // positioning
        position: absolute;
        z-index: 1;

        bottom: 0;
        top: 0;
        left: 0;
        right: 0;

        @include atTabletsLandscape {
            // box model
            width: 100%;
            height: 100%;

            // visual
            background-image: url("./img/price-bg.png");
            background-repeat: no-repeat;
            background-position: center center;
            // box model
        }
    }
}