.prices-wrapper {
    @include atTabletsPortrait {
        // positioning
        position: relative;
        // z-index: 1;

        // box model
        margin-top: -67px;
        padding: 40px;
        padding-top: 60px;

        // visual
        border: 18px solid transparent;
        border-image: url("./img/grey-border.png") 36;

        &::before {
            content: "";

            // positioning
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            // z-index: 2;

            // box model
            // border: 1px solid red;
            height: 20px;
            width: 270px;

            // visual
            background-color: $white;

            @include atTabletsLandscape {
                // box model
                width: 320px;
            }
        }
    }

    @include atTabletsLandscape {
        // box model
        margin-top: -80px;
    }

    @include atDesktop {
        // box model
        margin-top: -100px;
    }
}