.prices-table {
    // box model
    width: 100%;

    // table
    border-collapse: collapse;

    tr {
        //
    }

    td {
        // box model
        padding: 5px 0;

        // typography
        line-height: 1.5;

        &:nth-of-type(1) {
            // box model
            vertical-align: middle;
            vertical-align: bottom;
            padding-left: 0;
            padding-right: 20px;

            // typography
            font-size: 0.875rem;
            font-weight: 700;
            text-align: left;

            // visual
            border-bottom: 1px dotted rgba($lightGrey, 0.5);
            
            @include atTabletsPortrait {
                // typography
                font-size: 1rem;
            }
            
            @include atDesktop {
                // typography
                font-size: 1.125rem;
            }
            
            small {
                // typography
                color: $grey;
                font-size: 1em;
                font-weight: 400;
            }
        }
        
        &:nth-of-type(2) {
            // box model
            vertical-align: middle;
            vertical-align: bottom;
            
            // typography
            color: $red;
            font-size: 0.875rem;
            font-weight: 700;
            text-align: right;
            
            // visual
            border-bottom: 1px dotted rgba($lightGrey, 0.5);

            @include atTabletsPortrait {
                // typography
                font-size: 1rem;
            }

            @include atDesktop {
                // typography
                font-size: 1.125rem;
            }

            span {
                // typography
                color: $dark;
                font-size: 0.8em;
            }
        }
    }

    td.prices-table__desc {
        // box model
        padding-bottom: 20px;

        // typography
        color: $dark;
        font-weight: 400;
        line-height: 1.75;

        // visual
        border-bottom: none;

        @include atTabletsPortrait {
            // typography
            font-size: 0.875rem;
        }
    }

    caption {
        // box model
        padding-bottom: 5px;
        padding-left: 1px;
        padding-top: 30px;

        // typography
        color: $blue;
        font-family: $titleFont;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;

        @include atTabletsPortrait {
            // typography
            font-size: 1.125rem;
        }

        @include atTabletsLandscape {
            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // typography
            font-size: 1.5rem;
        }
    }
}