.section {
    &__header {
        // box model
        width: 250px;
        margin: 0 auto;

        // visual
        border: 18px solid transparent;
        border-image: url("./img/title-border.png") 36 stretch stretch;
        // border-image: url("./img/title-border.png") 16 stretch stretch;

        h2 {
            // box model
            margin: 0;
            // typography
            color: $white;
            font-family: $titleFont;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 2;
            text-align: center;
            text-transform: uppercase;

            // visual
            background-color: $grey;
        }
    }

    &__content {
        // box model
        padding: 30px;
        
        &--prices {
            // box model
            padding-bottom: 100px;
            margin-bottom: -30px;

            // typography
            text-align: center;

            // visual
            background-image: url("./img/prices-bg.jpg");
            background-position: left bottom;
            background-repeat: no-repeat;
        }

        &--team {
            // box model
            padding: 30px 15px;
            
            // typography
            font-size: 0;
            text-align: center;
        }

        &--partners {
            // typography
            text-align: center;
        }
    }

    &--services {
        // box model
        margin-top: -30px;
    }

    &--prices {

    }

    &--team {

    }

    &--partners {

    }
}