.section {
    &__header {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 250px;
        margin: 0 auto;

        // visual
        border: 18px solid transparent;
        border-image: url("./img/title-border.png") 36 stretch stretch;
        // border-image: url("./img/title-border.png") 16 stretch stretch;

        @include atTabletsLandscape {
            // box model
            width: 300px;
        }

        @include atDesktop {
            // box model
            width: 360px;
        }

        h2 {
            // box model
            margin: 0;
            // typography
            color: $white;
            font-family: $titleFont;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 2;
            text-align: center;
            text-transform: uppercase;

            // visual
            background-color: $grey;

            @include atTabletsLandscape {
                // typography
                font-size: 1.25rem;
            }

            @include atDesktop {
                // typography
                font-size: 1.5rem;
            }
        }
    }

    &__content {
        // box model
        padding: 30px;
        // padding-bottom: 80px;

        @include atTabletsLandscape {
            // box model
            padding: 40px;
        }

        @include atDesktop {
            // box model
            padding: 60px;
        }

        @include atDesktopLarge {
            // box model
            width: 1280px;
            margin: 0 auto;
            padding: 60px 0;
        }

        &--services {
            // typography
            font-size: 0;
            text-align: center;
            
            @include atTabletsPortrait {
                // box model
                display: flex;
                justify-content: space-between;
            }
        }
        
        &--prices {
            // box model
            margin: 0 auto;
            padding-bottom: 100px;

            // typography
            text-align: center;

            @include atTabletsLandscape {
                // box model
                width: 800px;
            }

            @include atDesktop {
                // box model
                width: 900px;
            }
        }

        &--team {
            // box model
            padding: 30px 15px;
            
            // typography
            font-size: 0;
            text-align: center;

            @include atTabletsLandscape {
                // box model
                padding: 40px;
            }

            @include atDesktop {
                // box model
                padding: 60px;
            }

            @include atDesktopLarge {
                // box model
                display: flex;
                justify-content: space-between;
                width: 1280px;
                padding: 60px 0;
            }
        }

        &--partners {
            // box model
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            // typography
            text-align: center;

            @include atTabletsLandscape {
                // box model
                justify-content: space-between;
            }

            @include atDesktopLarge {
                // box model
                width: 1340px;
                padding: 60px 0;
            }
        }
    }

    &--services {
        // box model
        margin-top: -35px;

        @include atTabletsLandscape {
            // box model
            margin-top: -40px;
        }

        @include atDesktop {
            // box model
            margin-top: -43px;
        }
    }

    &--prices {
        // box model
        margin-bottom: -35px;

        // visual
        background-image: url("./img/prices-bg.jpg");
        background-position: left bottom;
        background-repeat: no-repeat;

        @include atTabletsLandscape {
            // box model
            margin-bottom: -40px;

            // visual
            background-image: url("./img/prices-bg-l.jpg");
            background-size: contain;
        }
    }

    &--team {

    }

    &--partners {

    }
}