.service {
    // positioning
    position: relative;

    // box model
    margin-bottom: 30px;
    padding: 40px 0;

    // visual
    overflow: hidden;

    &__header {
        // positioning
        position: relative;
        z-index: 3;

        // typography
        text-align: center;
    }

    &__icon {
        // box model
        width: 50px;
        margin: 0 auto;

        img {
            // box model
            width: 100%;
        }
    }

    &__title {
        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1.125rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__subtitle {
        // typography
        color: $lightGrey;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__more {
        // box model
        display: inline-block;
    }

    &__cover {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        // box model
        height: 100%;
        width: 100%;

        // visual
        border: 18px solid transparent;
        border-image: url("./img/white-inv-border.png") 36;
    }

    &__image {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        img {
            // box model
            width: 100%;

            // vsl
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}