.service {
    // positioning
    position: relative;

    // box model
    width: 100%;
    margin-bottom: 30px;
    padding-top: 55px;
    padding-bottom: 40px;

    // visual
    overflow: hidden;

    @include atTabletsPortrait {
        // box model
        display: inline-block;
        vertical-align: top;
        width: 32%;
        height: 40vw;
    }

    @include atTabletsLandscape {
        // box model
        height: 320px;
        padding-top: 70px;
    }

    @include atDesktop {
        // box model
        padding-top: 80px;
    }

    &:hover {
        .service__image {
            // visual
            opacity: 0;
        }

        .service__title {
            // typography
            color: $dark;
        }

        .service__subtitle {
            // typography
            color: $grey;
        }

        .service__more a {
            // typography
            color: $red;
            text-decoration: none;

            // visual
            border-color: $grey;

            &:hover {
                // typography
                color: $white;
            }
        }

        .service__cover {
            // visual
            border: 18px solid transparent;
            border-image: url("./img/light-grey-border.png") 36;
        }

        .service__icon-white {
            // visual
            opacity: 0;
        }

        .service__icon-black {
            // visual
            opacity: 1;
        }
    }

    &__header {
        // positioning
        position: relative;
        z-index: 3;

        // box model
        height: 100%;

        // typography
        text-align: center;
    }

    &__icon {
        // positioning
        position: relative;

        // box model
        width: 50px;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 20px;

        @include atDesktop {
            // box model
            width: 60px;
            height: 60px;
        }

        &-white {
            // positioning
            position: absolute;
            left: 0;
            top: 0;

            // box model
            width: 100%;

            // visual
            opacity: 1;
            transition: all 0.3s ease-out;
        }

        &-black {
            // positioning
            position: absolute;
            left: 0;
            top: 0;

            // box model
            width: 100%;

            // visual
            opacity: 0;
            transition: all 0.3s ease-out;
        }
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-bottom: 10px;

        // typography
        color: $white;
        font-family: $titleFont;
        font-size: 1rem;
        font-size: 1.25rem;
        letter-spacing: 1px;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        // visual
        transition: all 0.3s ease-out;
    }

    &__subtitle {
        // box model
        margin: 0;
        padding: 0 10px;
        padding-bottom: 30px;

        // typography
        color: $lightGrey;
        font-family: $mainFont;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 1.4;
        text-transform: uppercase;

        // visual
        transition: all 0.3s ease-out;
    }

    &__more {
        // box model
        // display: inline-block;
        width: 100%;
        
        // typography
        font-size: 0.875rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        
        // visual
        transition: all 0.3s ease-out;
        
        @include atTabletsPortrait {
            // positioning
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20px;
        }
        
        a {
            // box model
            padding: 10px 20px;

            // typography
            color: $white;

            // visual
            border: 2px solid $white;
            // border: 2px solid transparent;
            transition: all 0.3s ease-out;

            &:hover {
                // typography
                color: $white;

                // visual
                background-color: $grey;
            }
        }
    }

    &__cover {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;

        // box model
        height: 100%;
        width: 100%;

        // visual
        border: 18px solid transparent;
        border-image: url("./img/white-inv-border.png") 36;
        // transition: all 0.3s ease-out;
    }
    
    &__image {
        // positioning
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        // box model
        height: 100%;
        width: 100%;

        // visual
        // transition: all 0.3s ease-out;

        img {
            // box model
            width: 100%;
            height: 100%;

            // vsl
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}