.site-footer {
    // positioning
    position: relative;

    // box model
    padding: 30px;


    // visual
    background-color: $grey;
    background-image: url("./img/footer-bg.jpg");
    background-size: cover;

    @include atTabletsLandscape {
        // box model
        padding: 50px;
        padding-bottom: 10px;
    }

    @include atDesktop {
        // box model
        padding: 60px;
        padding-bottom: 20px;
        padding-right: 140px;
    }

    &__content {
        // positioning
        position: relative;

        
        @include atDesktopLarge {
            // box model
            margin: 0 auto;
        }
    }
}