.site-footer {
    // positioning
    position: relative;

    // box model
    padding: 30px;

    // visual
    background-color: $grey;
    background-image: url("./img/footer-bg.jpg");
    background-size: cover;
}