.social-icon {
    // box model
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 6px; 

    img {
        // box model
        height: 100%;
        width: 100%;
    }
}